<div (click)="showTransactionCard()" class="transaction-item" [ngClass]="{'transaction-active': toggleTransactionCard }">
  <div class="transaction-row">
    <header class="transaction-header">
      <div class="transaction-title">Name</div>
      <div class="transaction-title">Brand</div>
      <div class="transaction-title">Last 4 Digits</div>
      <div class="transaction-title">Transaction Type</div>
      <div class="transaction-title">Amount</div>
      <div class="transaction-title">Currency</div>
    </header>
    <div class="transaction-content">
      <div class="transaction-cell">{{ transaction.card.holderName }}</div>
      <div class="transaction-cell">{{ transaction.brandId }}</div>
      <div class="transaction-cell">{{ transaction.card.lastFourDigits }}</div>
      <div class="transaction-cell">{{ transaction.action }}</div>
      <div class="transaction-cell">{{ transaction.amount }}</div>
      <div class="transaction-cell">{{ transaction.currencyCode }}</div>
    </div>
  </div>

  <div class="transaction-card-button">
    <button class="button button-white">
      <span>View Card Info</span>
    </button>
  </div>

  <app-transaction-card *ngIf="toggleTransactionCard" [transaction]="transaction" [@fadeInOutAnimation]></app-transaction-card>
</div>
