// Core: Mixin - Table
// --------------------------------------------

@mixin table-cell-space() {
  flex-grow: 1;
  flex-basis: 5%;

  &:first-child {
    flex-basis: 22%;
  }
  &:nth-child(2) {
    flex-basis: 10%;
  }
  &:nth-child(3) {
    flex-basis: 10%;
  }
  &:nth-child(4) {
    flex-basis: 14%;
  }
}
