// Component: Filter
// -------------------------------------

// Theme: Default
@import 'theme/default/default.theme';

.filter-wrapper { display: flex; }

.filter-dropdown {
  + .filter-dropdown { margin-left: 20px; }
}

.filter-submit { margin-left: 20px; }
