// Component: Header
// -------------------------------------

// Theme: Default
@import 'theme/default/default.theme';

.main-header { margin-bottom: 20px; }

.filter-wrapper {
  display: flex;
  // display: block;
  // width: 100%;

  @include breakpoint(min-width, $break-mobile) {
    justify-content: flex-end;
  }
}
