// Component: Header
// -------------------------------------

// Theme: Default
@import 'theme/default/default.theme';

.main-header { margin-bottom: 20px; }

.filter-wrapper {
  display: block;
  width: 100%;

  @include breakpoint(min-width, $break-mobile) {
    display: flex;
    justify-content: flex-end;
    width: auto;
  }
}
