// Component: Header
// -------------------------------------

// Theme: Default
@import 'theme/default/default.theme';

.main-header {
  display: flex;
  margin-bottom: 20px;

  @include breakpoint(min-width, $break-mobile) {
    justify-content: flex-end;
  }
}

.filter-wrapper {
  display: flex;
}
