// Component: Header
// -------------------------------------

// Theme: Default
@import 'theme/default/default.theme';

.main-header { margin-bottom: 20px; }

.main-header-filters {
  display: block;
  width: 100%;

  @include breakpoint(min-width, $container-xs) {
    display: flex;
    width: auto;
  }

}
