<div [ngClass]="{'dropdown-active': showDropdown, 'dropdown-selected': optionSelected}" class="dropdown">
  <button (click)="toggleDropdown()" (click)="clickedInside($event)" class="dropdown-trigger" #trigger>
    <span #title>{{ dropdowbObject.title }}</span>
    <svg class="icon-arrow-down">
      <use xlink:href="#icon-arrow-down" />
    </svg>
  </button>

  <div *ngIf="showDropdown" class="dropdown-list">
    <div *ngIf="optionSelected" class="dropdown-option-label">{{ dropdowbObject.title }}</div>
    <ul>
      <li *ngFor="let dropdownOption of dropdowbObject.list" class="dropdown-list-item">
        <button (click)="clickOption(dropdowbObject, dropdownOption)" [ngClass]="dropdownOptionText" class="dropdown-option">{{ dropdownOption }}</button>
      </li>
    </ul>
  </div>
</div>
