<div class="transaction-item" [ngClass]="{'transaction-active': toggleTransactionCard }">
  <div class="transaction-row" (click)="showCardInfo()">
    <app-transaction-header class="transaction-header-item"></app-transaction-header>

    <div class="transaction-content">
      <div class="transaction-cell">{{ transaction.card.holderName }}</div>
      <div class="transaction-cell">
        <app-credit-card-brand class="transaction-credit-card" [creditCardNumber]="transaction.card.firstSixDigits"></app-credit-card-brand>
      </div>
      <div class="transaction-cell">{{ transaction.card.lastFourDigits }}</div>
      <div class="transaction-cell">{{ transaction.action }}</div>
      <div class="transaction-cell">{{ transaction.amount | currency: transaction.currencyCode }}</div>
      <div class="transaction-cell">{{ transaction.currencyCode }}</div>
    </div>
  </div>

  <div class="transaction-card-button">
    <button class="button button-primary button-sm" (click)="showCardInfo()">
      <span>View Card Info</span>
    </button>
  </div>

  <app-transaction-card *ngIf="cardInfo" [transaction]="transaction" [@fadeInOutAnimation]></app-transaction-card>
</div>
