// Component: Filter
// -------------------------------------

// Theme: Default
@import 'theme/default/default.theme';

.filter-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include breakpoint(min-width, $container-sm) {
    width: auto;
    flex-direction: row;
  }
}

.filter-dropdown {
  margin-bottom: 10px;

  @include breakpoint(min-width, $break-mobile) {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.filter-submit {
  @include breakpoint(max-width, $container-sm) {
    width: 100% !important;
  }
}
