<div class="transaction-item" [ngClass]="{'transaction-active': cardInfo }">
  <div class="transaction-row" (click)="showCardInfo()">
    <app-transaction-header class="transaction-header-item"></app-transaction-header>

    <div class="transaction-content">
      <div class="transaction-cell">{{ transaction.card.holderName }}</div>
      <div class="transaction-cell">
        <app-credit-card-brand class="transaction-credit-card" [creditCardNumber]="transaction.card.firstSixDigits"></app-credit-card-brand>
      </div>
      <div class="transaction-cell">XXXX {{ transaction.card.lastFourDigits }}</div>
      <div class="transaction-cell">{{ transaction.action }}</div>
      <div class="transaction-cell">{{ transaction.amount | currency: transaction.currencyCode }}</div>
      <div class="transaction-cell">{{ transaction.currencyCode }}</div>
      <div class="transaction-cell transaction-modal-btn">
        <button (click)="onClick($event, transaction)">
          <svg-icon-sprite
            [src]="'assets/sprites/sprite.svg#icon-magnifier'"
            [class]="'icon-magnifier'"
          ></svg-icon-sprite>
        </button>
      </div>
    </div>
  </div>

  <div class="transaction-card-button">
    <button (click)="showCardInfo()">View Card Info</button>
  </div>

  <app-transaction-card *ngIf="cardInfo" [transaction]="transaction" [@fadeInOutAnimation]></app-transaction-card>
</div>
