// Component: Transaction List
// -------------------------------------

// Theme: Default
@import 'theme/default/default.theme';

.transactions-table {
  background-color: $c-white;
  @include shadow;
}

.transactions-table-thead {
  display: flex;
  padding: 14px;
}

.transactions-table-title {
  @include table-cell-space;
  color: $c-primary;
  font-weight: 600;
}

.transactions-error-message {
  padding: 20px 0;
  text-align: center;

  h2 {
    color: $c-danger;
    display: flex;
    align-items: center
  }

  p {
    font-size: 18px;
  }

  .icon-warning {
    color: $c-danger;
    @include square(30px);
  }
}
