<div *ngIf="transactions" class="transactions-table">
  <div class="transactions-table-thead">
    <div class="transactions-table-title">Name</div>
    <div class="transactions-table-title">Brand</div>
    <div class="transactions-table-title">Last 4 Digits</div>
    <div class="transactions-table-title">Transaction Type</div>
    <div class="transactions-table-title">Amount</div>
    <div class="transactions-table-title">Currency</div>
  </div>
  <div class="transactions-table-tbody">
    <app-transaction-item *ngFor="let transactionItem of transactions" [transaction]="transactionItem" class="transactions-table-row"></app-transaction-item>
    <p>Sorry</p>
    <div>
      <h2>Unable to show transactions</h2>
      <p>Sorry, somehting wen wrog</p>
    </div>
  </div>
</div>
