// Component: Transaction Item
// -------------------------------------

// Theme: Default
@import 'theme/default/default.theme';

.transaction-item {
  @include card;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  transition: $transition;

  @include breakpoint(min-width, $break-mobile) {
    @include card($reset: true);
    margin-bottom: 0;
    font-size: 14px;
    line-height: 18px;
  }
}

.transaction-row {
  display: flex;
  justify-content: space-between;
  padding: 18px 14px;

  @include breakpoint(min-width, $break-mobile) {
    display: block;
    cursor: pointer;
    border-bottom: 1px solid $c-grey-100;

    &:hover {
      color: $c-text-default;
      background-color: lighten($c-pale-grey, 1%);
    }

    .transaction-active & {
      color: $c-text-default;
      font-weight: 600;
      background-color: lighten($c-pale-grey, 1%);
      border-bottom-color: $c-grey-100;
    }
  }
}

// Header
.transaction-header {
  @include breakpoint(min-width, $break-mobile) {
    display: none
  }
}

.transaction-title {
  padding-bottom: 14px;
  color: $c-primary;

  &:last-child { padding-bottom: 0; }
}

// Content
.transaction-content {
  display: flex;
  flex-direction: column;

  @include breakpoint(min-width, $break-mobile) {
    flex-direction: row;
  }
}

.transaction-cell {
  padding-bottom: 14px;
  font-weight: 600;
  text-align: right;

  &:last-child { padding-bottom: 0; }

  @include breakpoint(min-width, $break-mobile) {
    @include table-cell-space;
    padding: 0 4px;
    text-align: left;
  }
}

.transaction-card-button {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;

  @include breakpoint(min-width, $break-mobile) {
    display: none;
  }

  .button {
    display: flex;
    align-items: center;

    .transaction-active & {
      @include button-secondary;
    }
  }

  .icon-arrow-down {
    margin-left: 14px;
    width: 12px;
    height: 6px;
    transition: .15s cubic-bezier(0.6, -0.28, 0.74, 0.05);

    .transaction-active & {
      transform: rotate(-180deg);
    }
  }
}
