// Theme Default: Layout - Scaffold
// ----------------------------------------

html,
body {
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  padding: 15px;
  color: theme-color('text', 'base');
  line-height: $base-line-height;
  font-size: $base-font-size;
  font-family: $base-font-family;
  background-color: theme-color('bg', 'base');

  @include breakpoint(min-width, bp-media('mobile')) {
    padding: 30px;
  }
}

.container {
  margin: 0 auto;
  max-width: bp-media('xl');
}
