// Theme Default: Helper - Variable
// -------------------------------------

// Colors
$c-black: #000 !default;
$c-white: #fff !default;
$c-grey-100: transparentize(#000, .9) !default;
$c-grey-200: transparentize(#000, .8) !default;
$c-grey-300: transparentize(#000, .7) !default;
$c-grey-400: transparentize(#000, .6) !default;
$c-grey-500: transparentize(#000, .5) !default;
$c-grey-600: transparentize(#000, .4) !default;
$c-grey-700: transparentize(#000, .3) !default;
$c-grey-800: transparentize(#000, .2) !default;
$c-grey-900: transparentize(#000, .1) !default;
$c-red: #c03f3f;

// Custom Colors
$c-cobalt: #213d8f !default;
$c-greyish-brown: #4a4a4a !default;
$c-pale-grey: #f6f7fb !default;
$c-pale-grey-two: #e8ebf3 !default;
$c-avocado: #8ec03f !default;
$c-light-grey-blue: #909ec7 !default;
$c-topaz: #1db9de !default;

// Defaults
$c-text-default: $c-greyish-brown !default;
$c-primary: $c-cobalt !default;
$c-secondary: $c-avocado !default;
$c-success: $c-avocado !default;
$c-danger: $c-red !default;
$bg-color-default: $c-pale-grey-two !default;

// Text
$txt-font-size-default: 14px !default;
$txt-line-height-default: 18px !default;
$font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$font-sans-pro: 'Source Sans Pro' !default;
$font-family-default: $font-sans-pro, $font-system;

// Utils
$transition: .06s !default;
$border-radius: 2px !default;

// Shadow
$box-shadow-default: 6px 6px 2px -3px !default;
$box-shadow-color-default: $c-grey-100 !default;

// Breakpoints
$container-xs: 320px !default;
$container-sm: 576px !default;
$container-md: 768px !default;
$container-lg: 992px !default;
$container-xl: 1200px !default;
$break-mobile: $container-lg !default;

$zindex: (
  belowLayer   : -1,
  defaultLayer : 0,
  firstLayer   : 1000,
  secondLayer  : 2000,
  thirdLayer   : 3000,
  fourthLayer  : 4000,
  fifthLayer   : 5000,
  sixthLayer   : 6000,
  seventhLayer : 7000,
  eighthLayer  : 8000,
  ninthLayer   : 9000,
  tenthLayer   : 10000
) !default;
