// Component: Credit Card Brand
// -------------------------------------

@import "theme/import.theme";

.credit-card-brand {
  display: flex;
  align-items: center;

  .credit-card-icon {
    width: 32px;
    height: 30px;
  }

  .credit-card-name {
    padding-left: 6px;
    text-transform: capitalize;
  }
}
