// Component: Loading
// -------------------------------------

@import 'theme/import.theme';

// Loading
.loading-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.loading-icon {
  color: theme-color('primary', 'base');
  width: 64px;
  height: 70px;
}
