<div [ngClass]="{'dropdown-active': showDropdown}" class="dropdown">
  <button (click)="toggleDropdown()" (click)="clickedInside($event)" class="dropdown-trigger">
    <span>{{ filterCollection.title }}</span>
    <svg class="icon-arrow-down">
      <use xlink:href="#icon-arrow-down" />
    </svg>
  </button>
  <ul *ngIf="showDropdown" class="dropdown-list">
    <li *ngFor="let filterOption of filterCollection.list" (click)="clickedInside($event)" class="dropdown-list-item">
      <button [ngClass]="textTransform" class="dropdown-option">{{ filterOption }}</button>
    </li>
  </ul>
</div>
