// Component: Transaction List
// -------------------------------------

// Theme: Default
@import 'theme/default/default.theme';

.transactions-table {
  background-color: $c-white;
  box-shadow: 6px 6px 2px -3px rgba(0,0,0,.1);
}

.transactions-table-thead {
  display: flex;
  padding: 14px;
}

.transactions-table-title {
  @include table-cell-space;
  color: $c-primary;
  font-weight: 600;
}
