// Component: Transaction List
// -------------------------------------

// Theme: Default
@import 'theme/default/default.theme';

.transaction-table {
  position: relative;

  @include breakpoint(min-width, $break-mobile) {
    @include card;
  }
}

// Header
.transaction-header {
  display: none;

  @include breakpoint(min-width, $break-mobile) {
    display: flex;
    padding: 14px;
    border-bottom: 1px solid $c-grey-100;
  }
}

.transaction-header-title {
  @include table-cell-space;
  color: $c-primary;
  font-weight: 600;
}

// Loading
.transaction-loading {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: zindex(secondLayer);
  background: transparentize($c-white, .1);

  .icon-loading {
    color: $c-primary;
    width: 64px;
    height: 70px;
  }
}

// Error
.transaction-error-message {
  min-height: 200px;
  padding: 30px 20px;
  text-align: center;
  @include card;

  @include breakpoint(min-width, $break-mobile) {
    @include card($reset: true);
  }

  h2 {
    margin-bottom: 16px;
    color: $c-danger;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include breakpoint(min-width, $break-mobile) {
      flex-direction: row;
    }
  }

  p { font-size: 18px; }

  .icon-wrapper {
    @include breakpoint(min-width, $break-mobile) {
      margin-right: 10px;
    }
  }

  .icon-warning {
    color: $c-danger;
    @include square(48px);

    @include breakpoint(min-width, $break-mobile) {
      @include square(28px);
    }
  }
}
