// Component: Transaction List
// -------------------------------------

@import "theme/default/variables";
@import "core";
@import "theme/default/variables";

.transaction-table {
  position: relative;

  @include breakpoint(min-width, bp-media("mobile")) {
    @include card;
  }
}

// Header
.transaction-header-list {
  display: none;
  
  @include breakpoint(min-width, bp-media("mobile")) {
    display: flex;
    padding: 14px;
    border-bottom: 1px solid theme-color("contrast", "100");
  }
}

// Error
.transaction-error-message {
  @include card;
  display: flex;
  justify-content: center;
  min-height: 240px;
  padding: 30px 20px;
  flex-direction: column;
  text-align: center;

  h2 {
    margin-bottom: 16px;
    color: theme-color("danger", "base");
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    font-size: 18px;
  }

  .icon-wrapper {
    @include breakpoint(min-width, bp-media("mobile")) {
      margin-right: 10px;
    }
  }

  .icon-warning {
    color: theme-color("danger", "base");
    @include square(50px);
  }
}

// Loading
.transactions-loading {
  display: block;
  padding-top: 40px;
}
