<div
  *ngIf="!(isLoading | async)"
  class="transaction-table"
  [@fadeInOutAnimation]
>
  <app-transaction-header
    class="transaction-header-list"
  ></app-transaction-header>

  <div class="transaction-content">
    <app-transaction-item
      *ngFor="let transactionItem of (transactions | async)"
      [transaction]="transactionItem"
      (clickEvent)="openModal($event)"
    ></app-transaction-item>
  </div>
</div>

<ng-template #modalTemplate let-modalData="data">
  <p>
    You are about to remove <strong>{{ modalData.card.holderName }} </strong>  with a credit card with the last 4 digits: <strong>XXXX {{ modalData.card.lastFourDigits }}</strong>. Are you sure?</p> 
  <p>
  <div class="modal-actions">
    <button>Yes, I'm sure</button>
    <button>No, not actually</button>
  </div>
</ng-template>

<app-modal [model]="modalModel" modalTitle="Modal Dialog"></app-modal>

<app-loading
  *ngIf="!(loadError | async)"
  class="transactions-loading"
  [load]="isLoading | async"
></app-loading>

<div *ngIf="loadError | async as errorMessage" class="transaction-error-message">
  <h2>
    <svg-icon-sprite
      [src]="'assets/sprites/sprite.svg#icon-warning'"
      [class]="'icon-warning'"
    ></svg-icon-sprite>
    <span>Unable to show transactions {{ errorMessage.statusText }}</span>
  </h2>
  <p>Oops, something went wrong!</p>
  <p>Please, try again later.</p>
  <p><small><em>Error Message: {{ errorMessage.message }}</em></small></p>
</div>
